<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iscas.workingdiarys.mapper.UserMapper">

    <resultMap id="user" type="com.iscas.workingdiarys.entity.User">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_sex" property="userSex"/>
        <result column="project_team" property="projectTeam"/>
        <result column="user_position" property="userPosition"/>
        <result column="cert_no" property="certNo"/>
        <result column="role_id" property="roleId"/>
        <result column="register_time" property="registerTime"/>
    </resultMap>

    <resultMap id="userDetails" type="com.iscas.workingdiarys.entity.CustomUserDetails">
        <id column="user_name" property="username"/>
        <id column="password" property="password"/>
        <collection property="roles" ofType="com.iscas.workingdiarys.entity.Role">
            <id column="role_id" property="roleId"/>
            <id column="role_name" property="roleName"/>
        </collection>
    </resultMap>

    <select id="selectOne" parameterType="String" resultType="User">
        select* from t_user
        <where>
            <if test="userName != null and userName != ''">
                user_name=#{userName}
            </if>
        </where>
        limit 1;
    </select>

    <select id="selectList" parameterType="String" resultMap="user">
        select* from t_user
        <where>
            <if test="userName != null and userName != ''">
                user_name=#{userName}
            </if>
        </where>
    </select>

    <select id="findByUserName" parameterType="String" resultMap="userDetails">
        select u.user_name, u.password, r.role_name
        from t_user u
        left join t_role r
        on u.role_id=r.role_id
        <where>
            <if test="userName != null and userName != '' ">
                u.user_name=#{userName}
            </if>
        </where>
    </select>
</mapper>